# R
.Rbuildignore
.RData
.Rhistory
.Rprofile
.Rproj.user

# Hugo
/resources/
.hugo_build.lock

# blogdown
/blogdown/
/static/en/
/static/fr/
/static/rmarkdown-libs/
*.rmarkdown
_index.html
index.html
**/index_files/

# Publication temp files
/assets/publication

# Master branch
*.github.io.Rproj

# Publish everything in docs/
!docs/**
